.container {
    position: fixed;
    z-index: 101;
    left: 0;
    right: 0;
    width: 160px;
    margin: 3rem auto;

    .alert{
        width: 100%;
        margin: auto;
        background-color: black;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        margin-bottom: 0.5rem;
        border-radius: 5px;
        font-size: 0.8rem;
        animation: SlideDown 1.2s ease;
        color: white;

        &:hover{
            border-color: var(--main-selected);
        }

        @keyframes SlideDown {
            0% {
                transform: translateY(-100%);
            }
            50% {
                transform: translateY(0%);
            }
        }
    }

}