.stuff{
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    border-radius: 50px;
    top: 7px;
    right: 7px;
}

.container{

    .checkoutBtn{
        border: 1px solid var(--main-clr-lightgrey);
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 0.5rem;

        &:hover{
            background-color: black;
            color: white;
        }
    }

    .element{
        img{
            width: 60px;
            height: 60px;
        }
        button{
            
        }
    }
}