.container{
    text-align: center;
    margin-top: 15rem;
    p:nth-child(1){
        font-size: 4rem;
    }

    a{
        &:hover{
            *{
                color: var(--main-clr)
            }
        }
    }
    
}